@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #121315;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
}

:root {
  --white: #ffffff;
  --black: #0f0f0f;
  --accent: #6daf7d;
  --dop: #1c1c1c;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
}

h2 {
  font-size: 40px;
  line-height: 50.3px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  line-height: 35.2px;
  font-weight: 400;
}

p {
  font-size: 20px;
  opacity: 0.9;
}

.title {
  opacity: 1;
  font-size: 17px;
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1410px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  padding: 30px;
  margin-top: 10px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--dop);
}

a {
  position: relative;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}

a p {
  position: relative;
  display: inline-block;
  margin: 0;
  opacity: 1;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background-color: var(--accent);
  transform: scaleX(0); /* Начальное состояние */
  transform-origin: bottom right;
  transition: transform 0.3s ease; /* Плавный переход */
}

a:hover::after {
  transform: scaleX(1); /* Заполнение по ширине */
  transform-origin: bottom left;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 45px;
    line-height: 50px;
  }

  h2 {
    font-size: 35px;
    line-height: 45px;
  }

  h3 {
    font-size: 25px;
    line-height: 30px;
  }

  p {
    font-size: 18px;
  }

  .title {
    font-size: 15px;
  }

  .container {
    padding: 30px; /* Уменьшаем отступы */
  }

  .main-wraper {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
    line-height: 45px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  p {
    font-size: 16px;
    opacity: 0.85; /* Чуть меньшая яркость */
  }

  .title {
    font-size: 13px;
  }

  .container {
    max-width: 100%;
    padding: 25px;
    margin-top: 5px; /* Уменьшаем верхний отступ */
  }

  .br-pc {
    display: none;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 32px;
    line-height: 35px;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
  }

  p {
    font-size: 14px;
    opacity: 0.8;
  }

  .title {
    font-size: 12px;
  }

  .container {
    padding: 20px;
  }
}
